#dashboard {
  .status {
    text-align: center;
    p {
      text-align: left;
    }
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button3 {
      background-color: #03c1b6;
    }
    .header {
      font-size: 1.2em;
    }
    .state {
      text-align: center;
      padding: 12px 24px;
      margin-bottom: 1em;
      color: white;
      font-size: 1.3em;
      text-transform: uppercase;

      &.unverified {
        background: $status-unverified-color;
      }

      &.incomplete {
        background: $status-incomplete-color;
        color: black;
      }

      &.submitted {
        background: $status-submitted-color;
      }

      &.waitlist {
        background: $status-waitlist-color;
      }

      &.admitted {
        background: $status-admitted-color;
      }

      &.confirmed {
        background: $status-confirmed-color;
      }

      &.checked.in {
        background: $status-checkedin-color;
      }

      &.declined {
        background: $status-declined-color;
      }
    }
  }

  .segment {
    padding: 36px 36px 12px 36px;
  }

  .description {
    margin-bottom: 24px;
    .markdown {
      text-align: left;
      margin-bottom: 24px;
    }
  }
}
